**/KansasCityData/overlapmatrix.txt
**/KansasCityData/.Rhistory
**/KansasCityDataExtended/overlapmatrix.txt
**/KansasCityDataExtended/legibleParking.csv
**/KansasCityDataExtended/formatted_cleanParking.csv
**/KansasCityDataExtended/cleanedParking.csv
**/KansasCityDataExtended/sensity_data_dump.csv